* {
    --text: #fff;
    --main: #0983A9;
    --dark: #333;
    --darker: #202020;
    --darkest: #0C0C0C;

    font-family: 'Comfortaa', sans-serif;
    color: var(--text);
    user-select: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    width: 10000px;
    height: 10000px;
    margin: 0;
    padding: 0;
    background-color: #171717;
    /* background-image: url("../media/dark_blueprint.jpg");
    background-size: contain; */
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.hide {
    display: none !important;
}

.menu-options-container {
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: var(--dark);
    border-radius: 5px;
    overflow: hidden;
}

.menu-option {
    font-size: 11px;
    padding: 5px;
}

.menu-option:hover {
    background-color: var(--main);
}

.menu-search-container {
    font-size: 11px;
    padding: 5px;
}

.search-imput {
    width: 100px;
    font-size: 9.5px;
    padding: 2px;
    background-color: var(--darker);
    outline: none;
    border: 0px;
}

.side-menu-container {
    width: 30vw;
    height: 100vh;
    background-color: var(--dark);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(30vw);
    transition: transform 0.2s;
}

.side-menu-container:hover {
    transform: translateX(0vw);
}

.side-menu-container:hover .menu-icon {
    transform: rotate(180deg);
}

.side-menu-button {
    width: 5%;
    height: 5%;
    position: absolute;
    top: 1%;
    left: -5%;
    background-color: var(--dark);
    display: grid;
    place-items: center;
    border-radius: 5px 0 0 5px;
    font-size: 1.4vw;
}

.lua-output-container {
    width: 90%;
    height: 80%;
    background-color: var(--darker);
    border-radius: 2px;
}

.side-menu-buttons {
    width: 90%;
    height: 5%;
    display: flex;
}

.play-menu-button {
    width: 49.5%;
    height: 100%;
    margin-top: 5%;
    background-color: green;
    display: grid;
    place-items: center;
    font-size: 2.5vh;
    border-radius: 2px;
    margin-right: 0.5%;
}

.discord-menu-button {
    width: 49.5%;
    height: 100%;
    margin-top: 5%;
    background-color: #7983F5;
    display: grid;
    place-items: center;
    font-size: 2.5vh;
    border-radius: 2px;
    margin-left: 0.5%;
}